.gap-1 {
    gap: 4px;
}

.gap-2 {
    gap: 8px;
}

.gap-3 {
    gap: 12px;
}

.gap-4 {
    gap: 16px;
}

.gap-5 {
    gap: 20px;
}

.gap-6 {
    gap: 24px;
}

.gap-7 {
    gap: 28px;
}

.gap-8 {
    gap: 32px;
}

.gap-9 {
    gap: 36px;
}

.gap-10 {
    gap: 40px;
}

.gap-11 {
    gap: 44px;
}

.gap-12 {
    gap: 48px;
}

.gap-13 {
    gap: 52px;
}

.gap-14 {
    gap: 56px;
}

.gap-15 {
    gap: 60px;
}

.gap-16 {
    gap: 64px;
}
