@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <BaseLayout>
            <Body>
                <MudContainer MaxWidth="@MaxWidth.Large" Class="pb-8">
                    @Body
                </MudContainer>
            </Body>
        </BaseLayout>
    </Authorized>
    <NotAuthorized>
        <UnauthorizedRedirect />
    </NotAuthorized>
</AuthorizeView>

@code {

}
